<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>
<div class="page-container">
    <header th:replace="fragments/commons :: nav-index">

    </header>

    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Login</span></h1>
        <hr class="hr-3 w-25 bg-white"/>
        <form class="mx-auto w-25 bg-blur"
              th:method="post"
              th:action="@{/users/login}"
              th:object="${userLoginBindingModel}">
            <br/>
            <small th:if="${isFound}" class="text-danger new-line">Incorrect email or password!</small>
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="email" class="h4 mb-2">Email</label>
                </div>
                <input th:field="*{email}" th:errorclass="is-invalid"
                       type="email" class="form-control" id="email" name="email"/>

                <small class="invalid-feedback text-danger">Email error email</small>
            </div>
            <div class="form-group">
                <div class="label-holder d-flex justify-content-center">
                    <label for="password" class="h3 mb-2">Password</label>
                </div>
                <input th:field="*{password}"
                       type="password" class="form-control" id="password" name="password"/>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="button  mb-3">Login</button>
            </div>
        </form>
    </main>

    <footer th:replace="fragments/commons :: footer"></footer>

</div>
</body>
</html>